APP_NAME="PAS Papan"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://paspapan.vercel.app
APP_STORAGE_PATH=/tmp/storage
APP_CONFIG_CACHE=/tmp/storage/framework/cache/config.php
APP_EVENTS_CACHE=/tmp/storage/framework/cache/events.php
APP_PACKAGES_CACHE=/tmp/storage/framework/cache/packages.php
APP_ROUTES_CACHE=/tmp/storage/framework/cache/routes-v7.php
APP_SERVICES_CACHE=/tmp/storage/framework/cache/services.php

LOG_CHANNEL=stderr
LOG_STACK=stderr

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_STORE=array
SESSION_DRIVER=cookie
SESSION_SECURE_COOKIE=true
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@paspapan.com
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
